<!DOCTYPE html>
<html lang="en">

<head>
    <title>CW 2 - Individual</title>
    <script src="https://unpkg.com/vue"> </script>
    

   
</head>

<body>
    <div id="app">

        <!-- shoping cart -->
        <header>
            <h1>{{sitename}}</h1>
            <button  v-on:click="showcheckout" v-if="enableshoppingcart">shopping cart</button>
            <P v-else>Shopping Cart</P>
            <div v-for="product in cart" style="display:inline-block;">
                <figure>
                    <img v-bind:src="product.image" width="200" height="200">
                </figure>
                <h2 v-html="product.subject"></h2>
               <span> <P>Locatioc:{{product.location}}</P>
                <p>Price:{{product.price}}</p>
                <P>ProductID: {{product.id}}</P>
                <P>Number of spaces: {{product.availableInventory}}</P>
            </span>
                <button class="fa fa-trash" v-on:click="removefromcart(product)"> Remove Product</button>
            </div>
        </header>

        <main>
            <div v-if="showproduct">




                <div v-for="product in products">

                    <figure>
                        <img v-bind:src="product.image" width="200" height="200">
                    </figure>

                    <h2 v-html="product.subject"></h2>
                    <p>ID : {{ product._id}}</p>
                    <P>Location: {{product.location}}</P>
                    <p>Price: {{product.price}}</p>
                    <P>Product I.d: {{product.id}}</P>
                    <P>Number of spaces: {{product.availableInventory}}</P>
                    <button v-on:click="decrement_inventory(product); addtocart(product); " v-if="isenable(product)">
                        ADD TO CART</button>
                    <!-- only show the button when 'canAddToCart' is true when it becomes false the button disappers -->

                    <button disabled="disabled" v-else>DISABLE</button>
                </div>
            </div>

            <div v-else>
                <h2>Checkout</h2>


                <form @submit="submitForm">
                    <ul>
                        <p>
                            <strong>Name:</strong>
                            <input id="name" required v-model.trim="order.name" type="text" />
                        </p>
                        <p><strong>Phone : </strong><input id="phone" required v-model.number='order.phone'
                                type="number"></p>


                        <input type="submit">
                </form>



            </div>
        </main>
    </div>








    <script type="text/javascript">
        var webstore = new Vue({
            el: "#app",
            data: {
                sitename: "site",
                products: [],

                lessons: [],
                cart: [],
                cartID: [],
                showproduct: true,

                order: {
                    name: "",
                    phone: null

                },





            },
            methods: {
                decrement_inventory(product) {
                    product.availableInventory = product.availableInventory - 1;
                },
                isenable: function (product) {
                    if (product.availableInventory > 0) {
                        return true
                    }
                    else {
                        return false
                    }
                },








                addtocart: function (product) {
                    this.cart.push(product);
                    console.log(product);
                    this.cartID.push(product.id)
                   



                    const newavailableInventory = product.availableInventory;




         

                    fetch('https://moscst3145.herokuapp.com/collection/products/' + product._id, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ availableInventory: newavailableInventory })
                    }).then(function (data) {
                     
                     
                    });


                },
                showcheckout() {
                    this.showproduct = this.showproduct ? false : true;
                },
                removefromcart: function (product) {

                    product.availableInventory = product.availableInventory + 1;
                    const newavail = product.availableInventory;
                    this.cart.pop(product)
                    fetch('https://moscst3145.herokuapp.com/collection/products/' + product._id, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ availableInventory: newavail })
                    }).then(function (data) {
                   
                       

                    });


                },





                submitForm() {
                    fetch('https://moscst3145.herokuapp.com/collection/orders', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ Name: this.order.name, Phone: this.order.phone, ProductsInOrder: this.cart.map(({ subject }) => subject) })}).then(function () {


                    });

                    this.cart.forEach(element => {

                        fetch('https://moscst3145.herokuapp.com/collection/products/' + element._id, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ availableInventory: element.availableInventory })}).then(function (data) {
                         

                        });

                    });


                    alert('Confirmed Order!')
                },

                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cartID.length; i++) {
                        if (this.cartID[i] === id) {
                            count++
                        }
                    }
                    return count;
                },

            },

            computed: {
                enableshoppingcart: function () {
                    if (this.cart.length > 0) {
                        return true
                    }
                    else {
                        return false
                    }
                },


            },

            created: function () {

                fetch('https://moscst3145.herokuapp.com/collection/products').then(
                    function (response) {
                        response.json().then(
                            function (json) {
                                webstore.products = json;
                               
                            });
                    });



            }


        });

    </script>

</body>

</html>